// Variables
$mainBg = #6bc6b4
$primaryColor = #fff
$font = Helvetica,Arial,'Sans serif'

@import './App/App'
@import './TicTac/components/Board'
@import './TicTac/components/GridItem'

body
  margin 0
  padding 20px
  background #ddd
  font-family $font
ul
  padding 0
  margin 0